.container {
  width: 100%;
  max-width: 1140px;
  display: flex;
  justify-content: center;
  margin: 0px auto;
}
.pitch {
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  grid-template-rows: repeat(7, minmax(100px, 1fr));
  grid-gap: 20;
  place-items: center;
  cursor: default;
  /* background-image: repeating-linear-gradient(rgb(75, 140, 70) 0 2px, transparent 2px 100%),
    repeating-linear-gradient(90deg, rgb(75, 140, 70) 0 2px, transparent 2px 100%);
  background-size: 150px 150px;
  border-right: solid 2px rgb(75, 140, 70);
  border-bottom: solid 2px rgb(75, 140, 70); */
  margin: 20px;
}
.pitchBackground {
  background: url("/public/assets/images/background.png");
  background-size: 100% 100%;
  margin-right: 50px;
}
.bench {
  display: grid;
  grid-template-columns: repeat(1, minmax(100px, 1fr));
  /* grid-template-rows: repeat(2, minmax(300px, 1fr)); */
  grid-gap: 20;
  place-items: center;
  cursor: default;
}
