.menu {
  padding: 0 10px;
  color: rgb(214, 214, 214);
  list-style-type: none;
}

.menu > li {
  padding: 10px;
  cursor: pointer;
}

.active {
  border-bottom: 3px solid var(--light);
}

.menu > li > svg {
  fill: var(--light);
}
