.pageInfo {
  width: 75%;
  height: 100%;
}

.profileInfo {
  width: 25%;
  height: 100%;
  padding-left: 10px;
  min-width: 410px;
}

@media (max-width: 1550px) {
  .profileInfo {
    display: none;
  }
  .pageInfo {
    width: 95%;
  }
}
